.movieItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
  list-style: none;
}

.movieItem button {
  padding: 5px 20px;
  margin: 5px;
}
.movieItem li {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 85%;
  height: 100%;
  border-radius: 10px;
}
