* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif; 
  color: white
}

body{
  background-color: #09090B;
}

@tailwind base;
@tailwind components;
@tailwind utilities;